.form-container {
  text-align: center;
  display: block;
  align-content: center;
  border: 1px solid $box-shadow-border;
  margin: 1rem 3.5rem;
  padding: 1.5rem 5rem;
  & input {
    width: 100%;
    margin: 0.25rem 0;
    outline: none;
    -webkit-box-shadow: 0 4px 6px -6px $box-shadow-border;
    -moz-box-shadow: 0 4px 6px -6px $box-shadow-border;
    box-shadow: 0 4px 6px -6px $box-shadow-border;
    border: 0;
    border-bottom: 1px solid $placeholder-letter;
    min-height: 2.75rem;
    font-size: 1.5rem;
      & focus {
        outline: none;
        -webkit-box-shadow: 0 4px 6px -6px $box-shadow-border;
        -moz-box-shadow: 0 4px 6px -6px $box-shadow-border;
        box-shadow: 0 4px 6px -6px $box-shadow-border;
        border: 0;
        border-bottom: 1px solid $placeholder-letter;
      }
  }
  
  & textarea {
      width: 100%;
      margin: 0.25rem 0;
      outline: none;
      -webkit-box-shadow: 0 4px 6px -6px $box-shadow-border;
      -moz-box-shadow: 0 4px 6px -6px $box-shadow-border;
      box-shadow: 0 4px 6px -6px $box-shadow-border;
      border: 0;
      border: 1px solid $placeholder-letter-clear;
      min-height: 2.75rem;
      font-size: 1.5rem;
        & focus {
          outline: none;
          -webkit-box-shadow: 0 4px 6px -6px $box-shadow-border;
          -moz-box-shadow: 0 4px 6px -6px $box-shadow-border;
          box-shadow: 0 4px 6px -6px $box-shadow-border;
          border: 0;
          border-bottom: 1px solid $placeholder-letter-clear;
        }
    }
    & label {
      margin-top: 2.25rem;
      font-size: 1.5rem;
      color: $grey;
    }
    & button {
      margin: 0 1rem;
    }
}

h1 {
text-align: center;
}