div.post:hover {
  background-color:#d1d1d1  !important;
}
.Main-Container {
  & .Post-list {
    text-align: center;
    margin: 1.25rem;
    color: $gray;
  }
  & .add-post-button {
    border-radius: 0;
    font-weight: bold;
    margin: 1.25rem;
  }
  & .post-row {
    display: flex;
    min-height: 5rem;
  }
  & .button-wrapper {
    text-align: center;
    align-content: center;
    align-items: center;
    margin-top: 0.3 rem;
    & .button-post {
      border-radius: 0;
      vertical-align: middle;
      float: left;
    }
  }
  & ul {
    list-style-type:none; 
    margin-top: 2rem;
    & li {
      width: 80%;
      vertical-align: middle;
      margin-top: 1rem;
      border-top:0px solid $placeholder-letter;
      /*background-color:#333  !important;*/
    }
  }
  & span {
    vertical-align: middle;
    margin: .3rem .3rem;
    display:block;
  }
}