.single-post-container {
  margin: 1rem 3.5rem;
  padding: 1rem;
  display: flex;
  align-content: center;
  text-align: justify;
  color: $gray;
  background-color: $mv2-clear;
  & .route-button {
    float:right;
    border-radius: 0;
    font-weight: bold;
    margin: 1.25rem;
  }
  & .halfman {
    background-color:$mv-clear;
    padding:8rem 2rem;
  }
}