.single-post-container {
  top:100%;
  display: flex;
  align-content: center;
  text-align: justify;
  color: $gray;
  background-color: $mv2-clear;
  & .route-button {
    float:right;
    border-radius: 0;
    font-weight: bold;
    margin: 1.25rem;
  }
  & .halfman {
    background-color:$mv-clear;
    font-size: 1.25rem;
    padding:15rem 5rem;
  }
}

.main-box {
  padding:1rem;
}